<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Primera Practica con Vue.JS</title>
	<link rel="stylesheet" href="">
	
</head>
<body>
<div class="container">
	<div id="tasks">
	<!-- Si usamos laravel, blade hace lo mismo, por lo que deberiamos colocar @ {{ variable }} -->
		<!-- {{ heading }}
		<br>
		<input v-model="heading"> -->

		<div v-show="remaining.length">
		<h1>Tasks ({{ remaining.length }})</h1>
			<ol class="list-group">
					<li v-repeat="task: tasks | inProcess">
						<span v-on="dblclick: editTask(task)">{{task.body}}</span>
						<button v-on="click: removeTask(task)">Eliminar</button>
						<button v-on="click: toggleTaskCompletion(task)">Completada</button>
					</li>
			</ol>
			
		</div>
		<form v-on="submit: addTask" accept-charset="utf-8">
				<input v-model="newTask"
								v-el="newTask" 
							class="form-control" 
							placeholder="I need to..."></input>

				<button > Agregar Tarea</button>
				<button v-on="click: completeAll"> Marcas todas las tareas como completadas</button>
		</form>

		<div v-if="completions.length">
			<h2>Completadas ({{ completions.length }})</h2>
			<ol class="list-group">
				<li v-repeat="task: tasks | filterBy true in completed">
					{{ task.body }}

					<button v-on="click: toggleTaskCompletion(task)">Eliminar</button>
				</li>
			</ol>
			<button v-on="click: clearCompleted">Limpiar tareas completadas</button>
		</div>

		<!-- <pre>
			{{ $data | json }}
		</pre> -->

	</div>
	
</div>



<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>

<script src="app.js"></script>
	
</body>
</html>