<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Directivas personalizadas</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<!-- cuando usamos la directiva v-on
	y le pasamos un listener por ejemplo:
	click -> es nuestro argumento,
	y
	luego haz algo: -> la expresion que le pasamos al listener click, dblclick etc.

	ejemplo: v-on="click: name= 'hi'"

	 -->
	<h1 v-write="message"> Custon Directives </h1>
	<input v-model="message">

	
	<!-- <form v-on="submit: check">
	<button v-confirm="Are you sure">Click me!</button>
	</form> -->

	<form v-on="submit: check">
		
		<button v-example="age++">Click me</button>
		
	</form>

	<pre>
		{{$data | json}}
	</pre>

	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>

	<script src="app.js"></script>

</body>
</html>