<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Revision de Interaccion Basica con Vue.JS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

	<article id="post" class="container" v-show="esVisible"  >
		
	<div id="contenedorBoton">
	<button class="fa fa-times-circle btnCerrar" v-on="click: esVisible = false">
		
	</button>
	</div>

		<h1>Nombre del Post</h1>
		<br>

		<p>
			
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		</p>
		<br>
		<div id="contenedorBotonLike">
		<button 
		class="fa fa-thumbs-o-up btnLike btnK" 
		v-class="active: liked"
		v-on="click: toggleLike"
		>	
		<span> {{ likesCount }}</span>
		</button>
		</div>

	<pre>
		{{ $data | json }}
	</pre>

	</article>

	



<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>

<script src="app.js"></script>
	
</body>
</html>