* {
  margin: 0;
  padding: 0;
}
.container {
  border: 1px solid #000;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 90%;
}
#contenedorBoton {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 30px;
  width: 100%;
}
#contenedorBotonLike {
  display: inline-flex;
  flex-direction: row;
  height: 30px;
  width: 100%;
}
.btnCerrar {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}
.btnLike {
  height: 30px;
  margin-left: 20px;
  width: auto;
}
.active {
  border: 1px solid #ffc0cb;
  background-color: #008000;
  height: 30px;
  margin-left: 20px;
  width: auto;
}
