*
	margin 0
	padding 0
.container
	border 1px solid black
	height 250px
	margin-left auto
	margin-right auto
	padding 10px
	width 90%
#contenedorBoton
	//border 1px solid green
	display inline-flex
	flex-direction row
	justify-content flex-end
	height 30px
	width 100%
#contenedorBotonLike
	//border 1px solid green
	display inline-flex
	flex-direction row
	height 30px
	width 100%
.btnCerrar
	//border 1px solid pink
	height 30px
	margin-right 10px
	width 30px
.btnLike
	//border 1px solid pink
	height 30px
	margin-left 20px
	width auto
.active
	border 1px solid pink
	background-color green
	height 30px
	margin-left 20px
	width auto