<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Componentes con VueJS</title>
	<link rel="stylesheet" href="build/build.css">
</head>
<body>

	<h1 v-flip>{{value | reverse}}</h1>

	<!-- Componente 1 -->
	<div v-component="a">
		
	</div>

	<!-- Componente 2 -->
	<div v-component="b">
		
	</div>


	<!-- Mono test -->

	<script src="build/build.js"></script>
	
</body>
</html>