<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Filtrando y Ordenando con VueJS</title>
	<link rel="stylesheet" href="style.css">
</head>
<body id="demo">

	<input v-model="search" type="text" name="" value="" placeholder="">

	<table>
		
		<thead>
			<tr>
			<!-- En Vez de duplicar todo esto, podemos hacer algo como esto -->

			<th v-repeat="column: columns">
				
				<a href="#" 
					v-on="click: ordenarPor(column)" 
					v-class="active: sortKey==column" >
					{{ column | capitalize }}
					</a>

			</th>

				<!-- Forma Duplicada -->
				<!-- <th><a href="#" v-on="click: ordenarPor('name')">Nombre</a></th>
				<th><a href="#" v-on="click: ordenarPor('age')">Age</a></th> -->

			</tr>
		</thead>

		<tbody>
			<tr v-repeat="people | filterBy search | orderBy sortKey reverse">
				<td>{{ name }}</td>
				<td>{{ age }}</td>
			</tr>	
		</tbody>

	</table>




	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>
	<script src="app.js"></script>	
</body>
</html>