<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Filtros personalizados</title>
	<link rel="stylesheet" href="style.css">
</head>
<body  >
	
	<!-- Hay dos maneras de crear filtros, 
	como un objeto, o global
	la primera es creando el filtro en la instancia de vuejs

	en app.js 
	filters:
	{
	
	}

	-->

	<div id="demo">
		<h1>
			{{message | reverse }}	
		</h1>

	</div>

	<div id="demo2">
		
		<h1>
			{{message | reverse}}
		</h1>

	</div>

	<div id="demo3">

	<div class="radio">
		<label>
			<input type="radio" name="gender" v-model="gender" value="all">Todos
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="gender" v-model="gender" value="male">Hombre
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="gender" v-model="gender" value="female">Mujer
		</label>
	</div>


		<ul>
			<li v-repeat="people | genderOpcional"> {{name}}: {{gender}}</li>
		</ul>
		

	</div>



<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>
<script src="app.js"></script>
	
</body>
</html>