body{
	font-family: "Courier New", monospace;
	text-align: center;
	font-size: font-size;
	margin: 0;
	width: 800px;
}

p{
	margin: 0;
	padding: 50px 0 30px;
	text-transform: uppercase;
}

.box{
	border: 5px solid #000;
	display: inline-block;
	height: 320px;
	line-height: 320px;
	margin: 20px;
	vertical-align: top;
	width: 320px;
}