<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Propiedades con Vuejs</title>
	<link rel="stylesheet" href="">
</head>
<body id="demo" class="container">

<script id="coupon-template" type="x-template">
	
<input type="text" v-model="coupon" v-on="click: whenCuponHasBeenEntered"/>
<span class="label" v-text="message"></span>
</script>

<h1 v-show="coupon">You entered the coupon code: {{coupon}} </h1>

<coupon when-applied="{{setCoupon}}"> </coupon>

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>
<script src="src/main.js"></script>

	
</body>
</html>