<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

	<div id="demo">
		
		<!-- la directiva v-model solo pueda ser usada en inputs, select, textarea -->
		<input v-model="name" type="text" name="" value="" placeholder="">
		<!-- tambien puedes pasarle parametros a las directivas
		como: Number, lazy, options, debounce
		por ejemplo con number puedes parsear de string a number un valor
		USO
		 -->
		 <input v-model="number" number type="text" name="" value="" placeholder="">


		<pre>
			{{ $data | json }}
		</pre>
	</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>
<script src="app.js"></script>
	
</body>
</html>