<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Representacion de listas de datos</title>
	<link rel="stylesheet" href="">
</head>
<body>
	
	<div id="demo">
		
	<ul>
		<!-- Usando las directivas v-repeat y v-text para mostrar informacion de manera dinamica en la web -->
		<li v-repeat="name: names" > {{name}} </li>
	</ul>		

	<!-- NOTA: es imporante recordar que podemos decirle cual tecla deseamos que sea la que escuche el listener del evento, para ejecutar el metodo, keyup es el evento, el metodo agregar nombre, y la tecla key especifica, en este caso enter. -->

	<!-- Tenemos los eventos de JavaScript 
	
	click, dblclick, keydown, keyup, blur, toggle, entre otros.




	 -->

	<input v-model="txtName"  v-on="keyup: agregarNombre | key 'enter'">
	<button  v-on="click: agregarNombre">Agregar Nombre</button>


	</div>


	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.7/vue.min.js"></script>

	<script src="app.js"></script>
	
</body>
</html>